  <div class="grid-x">
    <div class="medium-offset-3 medium-6 text-center"> <br></br>
      <img src="https://jkorenstein-production.s3.amazonaws.com/yard-service/map.png" alt="Waltham Map" height="130">
      <form 
        action="/streets" 
        method="get"> 
        <label>Street</label>
        <input name="street" type="text"></input>
        <input name="Search" type="submit"></input>
      </form>
    </div>
  </div>
